body {
    background-color: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 1em;
    margin: 0.5em;
}


/* a different way of using css to display background
.angled-gradient{
    background: linear-gradient(0deg red, yellow);
    background-repeat: no-repeat;
    height: 100%;
} */

.parts {
    display: flex;
    margin-right: 2em;
}

.parts div {
    flex: 1;
}

.main-body {
    background: dodgerblue;
    padding: 1em;
    margin: 1em;
}

.counter {
    color: pink;
}

.errors {
    color: crimson;
    text-align: center;
}

html {
    height: 100%;
    text-align: center;
}

.button {
    height: 30px;
    width: 70px;
    border-radius: 0.3em;
    margin: 0.5em;
    padding: 1em;
}

.inputElements {
    padding: 1em;
    border-radius: 0.5em;
    font-size: 1em;
    background-color: yellow;
}

.greetButton {
    background-color: darkgreen;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
}

.resetButton {
    background-color: orangered;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
}

.label-radio-container {
    padding: 20px;
}

.greetedBtn {
    background-color: rgb(0, 255, 255);
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
}

.homeButton {
    background-color: rgb;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
}